<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spades - Game List</title>
    <style>
      table,
      th,
      td {
        padding: 5px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
</head>
<body>
<h1>List of all Games</h1>
<p>Note: only games which are complete, forfeited, or abandoned will appear here.
<br>Click on a game's id to view its summary.</p>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<table>
    <thead>
    <tr>
        <th>Game ID</th>
        <th>North Player</th>
        <th>South Player</th>
        <th>East Player</th>
        <th>West Player</th>
        <th>Final Activity (UTC)</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
    <tr>
        <td><a href="/game/summary/{{ game.game_id }}">{{ game.game_id }}</a></td>
        <td>{{ users[game.player_north] }}</td>
        <td>{{ users[game.player_south] }}</td>
        <td>{{ users[game.player_east] }}</td>
        <td>{{ users[game.player_west] }}</td>
        <td>{{ game.last_activity }}</td>
        <td>
            {% if game.state.value == 'ABANDONED' %}
                Abandoned
            {% elif game.state.value == 'FORFEITED' %}
                Forfeited
            {% elif game.ns_win %}
                North/South Win
            {% elif not game.ns_win %}
                East/West Win
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>