<!doctype html>
<html>
<head>
<title>Spades Home</title>
</head>
<body>
  <h1>Hello {{ name }}!</h1>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  {% if user_is_in_game %}
  <p>You are in an ongoing game. Click "Join New/Existing Game" below to return to your game.</p>
  {% else %}
  <p>You are not currently in a game. Click "Join New/Existing Game" to start a new one!</p>
  {% endif %}
  View win/loss statistics for all users <a href="/users">here</a>.
  <br><br>
  View a list of all completed, abandoned, and forfeited games <a href="/game/list">here</a>.
  <br><br>
  <form method="get" action="/joingame">
    <input type="submit" value="Join New/Existing Game" name="joingame"/>
  </form>
  <br>
  <form method="get" action="/logout">
    <input type="submit" value="Logout" name="Logout"/>
  </form>
</body>
</html>